.list-view-container{
    padding: 10px;
    margin: 10px;
    /* background-color: grey; */
    display: grid;
}

.listview-name{
    list-style-type: none;
    display: inline-flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
}

.listview-buttons{
    display: grid;
}

.listview-buttons button{
    margin: 5px;
}