@media screen and (max-width: 600px){
    .newitem-form{
        text-align: left !important;
    }

}



.newitem-form{
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.label-view{
    display: inline-grid;
}

.label-view div{
    margin: 3px;
}

.button-container button{
    margin: 5px;
}
.form-button{
    display: inline-grid;
}

.button-container{
    display: inherit;
    position: fixed;
}

.labels{
    padding: 10px;
}

input{
    margin-left: 10px;
}