#{
    padding: 10px;
    margin: 10px;
}
.newitem-form{
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid grey;
}

.label-view{
    display: inline-grid;
}

.form-button{
    display: inline-grid;
}

.button-container{
    display: inherit;
}

.button-container button{
    padding: 5px;
    margin: 4px;
}

.labels{
    padding: 10px;
}

input{
    margin-left: 10px;
}