#{
    padding: 10px;
    margin: 10px;
}
.newitem-form{
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.label-view{
    display: inline-grid;
}

.form-button{
    display: inline-grid;
}

.button-container{
    display: inherit;
}

.button-container button{
    margin: 4px;
    background-color: white;
    border-radius: 15%;
}

.save-btn{
    color: #0e9696;
    border: 1px solid #0e9696;
}

.cancel-btn{
    color: #326d6d;
    border: 1px solid #326d6d;
}

.labels{
    padding: 10px;
}

input{
    margin-left: 10px;
}